.privacy-page {
    max-width: 1200px;
    margin: 0 auto 25px auto;
    .privacy-content {
        background: #FFF;
        padding: 25px 35px;
        margin-bottom: 25px;
        @media (max-width: $max-5) {
            padding: 15px 20px;
        }
    }
}