.urgent-news-big {
    a {
        display: flex !important;
        justify-content: start !important;
        h2 {
            font-size: 1.1rem !important;
            margin-bottom: 0 !important;
            @media (max-width: $max-7) {
                font-size: 0.9rem !important;
            }
        }
    }
}